.vscode
.idea/
dist/
cmake-build*
specification.pdf
report.pdf
***~$*
**/.idea/
**/cmake-build*/

***.acn
***.acr
***.alg
***.aux
***.bbl
***.bcf
***.blg
***.glg
***.glo
***.gls
***.ist
***.lof
***.log
***.maf
***.mtc*
***.out
***.run.xml
***.toc
***.lot
***_minted-*
***.lol
***.pyg
***.aex
